.version.index /* version checker */
{
	color: #0000FE;
	background-color: #D175B9;
}

/* MJM added start */
.button-reversed {
    /* background-color: darkgray; */
    text-align: left;
    -webkit-appearance: none;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #fff;
    border: 0px solid;
    cursor: pointer;
    color: #231f20;
    display: inline-block;
    font-family: 'Circular Book', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    font-size: 14px;
    outline: 0;
    overflow: visible;
    margin: 0;
    /*padding: 10px 14px;*/
    padding-right: 45px;
    text-decoration: none;
    vertical-align: top;
    width: auto;
    -moz-transition: all 0.12s ease-in-out;
    -o-transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    transition: all 0.12s ease-in-out;
    border: 1px solid #231f20;
    position: relative;
    -webkit-font-smoothing: antialiased;
	padding: 6px;
}

#intro-text {
    /* background-color: darkgray; */
    text-align: left;
    -webkit-appearance: none;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
   border: 0px solid;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-family: 'Circular Book', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    font-size: 16px;
    outline: 0;
    overflow: visible;
    margin: 0;
    /*padding: 10px 14px;*/
     text-decoration: none;
    vertical-align: top;
    width: auto;
    -moz-transition: all 0.12s ease-in-out;
    -o-transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    transition: all 0.12s ease-in-out;
    border: 1px solid #231f20;
    position: relative;
    -webkit-font-smoothing: antialiased;
	 padding-bottom:6px;
}

.padded-input {
	
	padding:8px;
	margin-bottom:5px;
}
/* MJM added end */

#page
{
	background-color: transparent;
	width: 100%;
	margin-left: auto;
	z-index: 1;
	border-color: #000000;
	margin-right: auto;
	border-width: 0px;
	background-image: none;
}

#slideshowu20293
{
	margin-right: -10000px;
	z-index: 2;
	margin-top: 69px;
	width: 0.01px;
	position: relative;
	height: 0px;
}

#u20296
{
	position: absolute;
	background-color: transparent;
}

#u20296popup
{
	z-index: 3;
}

#u20297
{
	background-color: transparent;
	border-width: 0px;
	z-index: 4;
	border-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u21883
{
	background-color: transparent;
	left: 20px;
	z-index: 6;
	top: 20px;
	position: fixed;
}

#u21883_img
{
	width: 100%;
}

#pu21899-6
{
	margin-right: -10000px;
}

#u21899-6
{
	display: block;
	vertical-align: top;
	position: relative;
	z-index: 8;
}

#u22629
{
	background-color: transparent;
	z-index: 14;
	border-color: transparent;
	border-width: 0px;
	position: relative;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
}

@media (min-width: 961px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 318px;
		padding-bottom: 496px;
		max-width: 1300px;
	}

	#slideshowu20293
	{
		left: 19.62%;
	}

	#u21883
	{
		width: 34%;
		max-width: 442px;
	}

	#pu21899-6
	{
		margin-top: 93px;
		width: 58.54%;
		margin-left: 39.39%;
	}

	#u21899-6
	{
		width: 100%;
	}

	#u22629
	{
		min-height: 59px;
		/* margin-top: 95px;*/
		margin-top: 15px; /* MJM adjust */
		/*width: 16.56%;*/
		width: 50%;/* MJM adjust for text intro */
		
	}

}

@media (min-width: 721px) and (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		min-height: 281px;
		padding-bottom: 219px;
		max-width: 960px;
	}

	#u21883
	{
		width: 33.96%;
		max-width: 326px;
	}

	#pu21899-6
	{
		margin-top: 93px;
		width: 58.55%;
		/*margin-left: 39.38%;*/
		margin-left: 39.38%; /* MJM adjust for text */
	}

	#u21899-6
	{
		width: 100%;
	}

	#u22629
	{
		min-height: 84px;
		margin-top: 33px;
		/*width: 23.49%;*/
		width: 70.00%;  /* MJM adjust for text */
	}

}

@media (min-width: 501px) and (max-width: 720px)
{
	#muse_css_mq
	{
		background-color: #0002d0;
	}

	#bp_720.active
	{
		display: block;
	}

	#page
	{
		min-height: 281px;
		padding-bottom: 219px;
		max-width: 720px;
	}

	#u21883
	{
		width: 34.03%;
		max-width: 245px;
	}

	#pu21899-6
	{
		margin-top: 93px;
		width: 58.62%;
		margin-left: 37.23%;
	}

	#u21899-6
	{
		width: 99.77%;
	}

	#u22629
	{
		min-height: 84px;
		margin-top: 33px;
		/*width: 23.46%;*/
		width: 70%;/*MJM adjust for text*/
	}

}

@media (min-width: 321px) and (max-width: 500px)
{
	#muse_css_mq
	{
		background-color: #0001f4;
	}

	#bp_500.active
	{
		display: block;
	}

	#page
	{
		min-height: 292px;
		padding-bottom: 208px;
		max-width: 500px;
	}

	#slideshowu20293
	{
		left: -51%;
	}

	#u21883
	{
		width: 34%;
		max-width: 170px;
	}

	#pu21899-6
	{
		padding-bottom: 0px;
		margin-top: 105px;
		width: 58.6%;
		margin-left: 32.2%;
	}

	#u21899-6
	{
		width: 99.66%;
	}

	#u22629
	{
		min-height: 84px;
		margin-top: 31px;
		width: 31.06%;
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 292px;
		padding-bottom: 208px;
		max-width: 320px;
	}

	#u21883
	{
		width: 34.07%;
		max-width: 109px;
	}

	#pu21899-6
	{
		padding-bottom: 0px;
		margin-top: 90px;
		width: 79.07%;
		margin-left: 9.07%;
	}

	#u21899-6
	{
		width: 100%;
	}

	#u22629
	{
		min-height: 84px;
		margin-top: 30px;
		width: 35.97%;
	}

	body
	{
		min-width: 319px;
	}

}

