	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 318px;
		padding-bottom: 496px;
		max-width: 1300px;
	}

	#slideshowu20293
	{
		left: 19.62%;
	}

	#u21883
	{
		width: 34%;
		max-width: 442px;
	}

	#pu21899-6
	{
		margin-top: 93px;
		width: 58.54%;
		margin-left: 39.39%;
	}

	#u21899-6
	{
		width: 100%;
	}

	#u22629
	{
		min-height: 59px;
		margin-top: 95px;
		width: 16.56%;
	}


